certifi==2025.4.26
charset-normalizer==3.4.1
google_search_results==2.4.2
idna==3.10
pillow==11.2.1
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
requests==2.32.3
shiboken6==6.9.0
urllib3==2.4.0
